.ModalMakeOrder {
    display: none;
}

.sectionCurrensy {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__selectedCurrency {
        position: relative;
        width: 200px;

        @media (max-width: 500px) {
            margin-top: 30px
        }
    }

    &__select {
        display: flex;
        align-items: center;
        height: 35px;
        width: 100%;
        padding: 8px 16px;
        background-color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #8791AA;
        background-image: url('../../assets/images/common/select-arrow.svg');
        background-repeat: no-repeat;
        background-position: top 50% right 16px;
        border-radius: 6px;
        border: solid 1px #e4e4e4;
        cursor: pointer;
    }

    &__currencyList {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        transform: translateY(100%);
        height: 175px;
        overflow-y: auto;
        box-shadow: 0 4px 7px #BCCAE0;
        transition: 0.3s;

        &::-webkit-scrollbar-thumb {
            background-color: darken(#EBF3FF, 15%);
            border-radius: 15px;
        }

        &::-webkit-scrollbar {
            width: 5px;
            height: 13.69px;
        }

        &::-webkit-scrollbar-track {
            background-color: darken(#EBF3FF, 5%);
            border-radius: 15px;
        }
    }

    &__currencyItem {
        padding: 8px 16px;
        background-color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #8791AA;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: darken(#EBF3FF, 5%);
        }
    }

    &__priceWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 170px;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, 0.7);
        border: solid 1px #e4e4e4;
        cursor: pointer;

        &:first-child {
            color: green;
        }

        &:last-child {
            color: red;

            @media (max-width: 500px) {
                margin-top: 20px;
            }

        }
    }

    &__priceBuyCell {
        display: flex;
        justify-content: space-between;
        width: 400px;
        margin-top: 30px;

        @media (max-width: 500px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__titlePrice,
    &__currentPrice {
        font-size: 50px;
    }
}