.sectionTrading {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://www.forextime.com/sites/default/files/instrument-page/hb-forex-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
}