.time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-shadow: 1px 1px 11px #000;
    border-radius: 6px;
    color: #29e8e2;
    font-size: 40px;
    border: groove 1px;
}